<div class="contact">
  <div class="wrapper">
    
    <div class="container">
      <div class="form">
        <h2>CONTACT US</h2>
        <form action="">
          <div class="inputBx">
            <input type="text" placeholder="Full Name"><br><br>
          </div>
          <div class="inputBx">
            <input type="email" placeholder="Email-ID"><br><br>
          </div>
          <div class="inputBx">
            <textarea placeholder="Type your Message"></textarea><br><br>
          </div>
          <div class="inputBx">
            <input type="submit" placeholder="type your Message"><br><br>
          </div>
          <p class="text">We will get back to you soon!!!</p>
        </form>
      </div>
    </div>
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>