.background
{
    background-image: url(../../assets/Clouds2.jpg);
}
.center{
    text-align: center;
}

span{
    color: #6495ED;
    font-weight: bold;
}

button{
    margin: 5px;
}

h2{
    text-align: center;
    padding: 10px;
}

.put-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.form {
    color: white;
    background-color: 	#00008B;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    min-height: 300px;
    width: 700px;
    height: auto;
    position: relative;
    padding: 15px;
}
.container
{
    margin-top: 20px;
}
